version: '3.8'
services:
  web:
    image: php:8.2-apache
    container_name: php_app
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html:rw
    restart: unless-stopped
  composer:
    build:
      context: .
      dockerfile: Dockerfile.composer
    container_name: php_composer
    volumes:
      - ./:/var/www/html:rw
    working_dir: /var/www/html
    entrypoint: ["composer"]
